.benefits {
  padding: 120px 0;

  &__row {
    display: flex;
    justify-content: space-between;
    column-gap: 70px;
    align-items: center;
    text-align: center;
  }

  &__item-img {
    margin-bottom: 53px;
  }

  &__item-text {
    font-family: $font-secondary;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.35;
  }
}
